
科技论文写作(updating)/doc/开题报告/~$组-开题报告_1012.doc
机器学习(updating)/ref/统计学习方法（第2版）.pdf
机器学习(updating)/ref/统计学习方法习题全解_调整版.pdf
机器学习(updating)/ref/周志华-机器学习习题答案.pdf
机器学习(updating)/ref/周志华-机器学习.pdf
BrainPy/神经计算建模实战 .pdf
